
/* про компанію */
#about
{
    font-size: 20px;
    padding: 0 0 var(--gap3);
}

#about .wrapper 
{
    width: 750px;
}

@media(max-width:770px)
{
    #about .wrapper 
    {
        width: 95%;
    }    
}

#about p 
{
    margin: 0 0 var(--gap3);
    line-height: 1.8;
    text-align: justify;
}

@media(max-width:640px)
{
    #about p 
    {
        /* margin: 0 0 var(--gap3); */
        line-height: 1.5;
        text-align: center;
    }    
}


#about ul 
{
    margin: var(--gap) 0 var(--gap) var(--gap);
}

#about li 
{
    margin: var(--gap) 0
}