
#footer
{
    background: var(--footer);
    color: var(--light);
    padding: var(--gap3) 0;
}

@media(max-width:640px)
{
    #footer
    {
        padding: var(--gap) 0;
    }    
}

#footer .wrapper 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:640px)
{
    #footer .wrapper 
    {
        display: block;
        text-align: center;
    }

    #footer .social
    {
        justify-content: center;
        margin: var(--gap) 0 0
    }
}