.levus-horizontal-scroll {
    overflow: hidden;
    position: relative;
}

.levus-horizontal-scroll ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(20,25%);
    left: -25%;
}

@media (max-width: 996px) {
    .levus-horizontal-scroll ul {
        left: -33.333333%;
        grid-template-columns: repeat(20,33.333333%);
    }
}

@media (max-width: 776px) {
    .levus-horizontal-scroll ul {
        left: -50%;
        grid-template-columns: repeat(20,50%);
    }
}

@media (max-width: 500px) {
    .levus-horizontal-scroll ul {
        left: -100%;
        grid-template-columns: repeat(20,100%);
    }
}

.to-left {
    transform: translateX(25%);
}

.to-right {
    transform: translateX(-25%);
}

@media (max-width: 996px) {
    .to-left {
        transform: translateX(33.333333%);
    }
    .to-right {
        transform: translateX(-33.333333%);
    }
}

@media (max-width: 776px) {
    .to-left {
        transform: translate(50%);
    }
    .to-right {
        transform: translate(-50%);
    }
}

@media (max-width: 500px) {
    .to-left {
        transform: translateX(100%);
    }
    .to-right {
        transform: translateX(-100%);
    }
}

.levus-horizontal-scroll li{
    display: block;
    position: relative;
    overflow: hidden;
}

.levus-horizontal-scroll li::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

.levus-horizontal-scroll li a
{
    color: var(--light);
    font-size: 20px;
    border-bottom: 2px solid var(--light);
    padding: 0 0 var(--gap);
    font-weight: 600;
    text-decoration: none;

    position: absolute;
    top: var(--gap);
    left: var(--gap);
    right: var(--gap);
    z-index: 2;
}

.levus-horizontal-scroll img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: .5s;
}

.levus-horizontal-scroll li:hover img 
{
    transform: scale(1.05)
}

/* left/right arrows */
.levus-horizontal-scroll .levus-nav{
    position: absolute;
    top: calc(50% - 20px);
    left: 0;
    width: 100%
}

.levus-horizontal-scroll .left,
.levus-horizontal-scroll .right {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #f4f4f4;
    position: absolute;
    top: 5px;
    cursor: pointer;
    z-index: 1;
}

.levus-horizontal-scroll .left {
    left: 10px;
}

.levus-horizontal-scroll .left::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAARElEQVR4Ae3OAQYAIBQE0Y/u21H2IB2yYEGAFEvzGACmAADvdRczM12PmXEjbaYxwwwzh7QNqez3KaaYYkoVQu4GAMACdpNBa8xOosUAAAAASUVORK5CYII=") center center no-repeat; */

    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239d5944' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/%3E%3C/svg%3E");
}

.levus-horizontal-scroll .right {
    right: 10px;
}

.levus-horizontal-scroll .right::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAS0lEQVR4Ae3OsQ0AEBQGYYXSrkZ5gxjDYJA8jVKIv7gvuf4CAOCe7MnMNE9iqo6a0lRiiimmPoijsg0ZM8wwc0hqZjKlmcU8AMBLHcNiQx9bPHBBAAAAAElFTkSuQmCC") center center no-repeat; */

    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239d5944' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") center center no-repeat;
}