
/*
меню, логотип і пошук 
*/

#menu 
{
    background: var(--light);
    padding: var(--gap) 0;
    position: relative;
    z-index: 5;
    transition: .5s;

    height: 190px;
}

#menu.fixed 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: var(--box-shadow);
}


#menu .wrapper 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* меню зліва */
#nav-button 
{
    width: 40px;
    height: 40px;
    fill: var(--dark);
    cursor: pointer;
}

#nav
{
    display: none;
}

#nav.active
{
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, .99); */
    background: rgba(255, 255, 255, .95);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* мобільне меню */
#nav ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 0 calc(var(--gap)/2);
}

#nav ul li 
{
    display: block;
}

#nav ul li a 
{
    font-weight: 800;
    /* font-size: 14px; */
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    color: var(--green);
    padding: var(--gap);
    display: block;
}

#nav ul li a:hover
{
    color: var(--orange);
}

/* лого пприблизно в центрі */
#logo
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    box-shadow: var(--box-shadow);

    transition: height .5s;
}

#logo.fixed 
{
    width: auto;
    /* height: auto; */
    height: 38px;
    border-radius: unset;
    box-shadow: none;
    align-items: flex-start;
}

#logo a 
{
    text-decoration: none;
    display: block;
    font-weight: 800;
    font-size: 20px;
}

#logo a:hover,
#logo a:focus
{
    color: var(--orange);
}

#logo span 
{
    color: var(--orange);
    text-transform: uppercase;
    font-size: 11px;
    white-space: nowrap;
}

#logo.fixed span
{
    border-bottom: 1px solid var(--normal)
}

/* пошук справа */
#search-button
{
    width: 34px;
    height: 34px;
    fill: var(--dark);
    cursor: pointer;
}

/* прихована форма */
#search
{
    display: none;
}

#search.active
{
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, .99); */
    background: rgba(255, 255, 255, .95);

    display: flex;
    align-items: center;
    justify-content: center;
}

#search form{
    display: flex;
    gap: var(--gap);
}

#search input 
{
    padding: var(--gap);
    outline: none;
    border: 2px solid var(--orange);
}

#search input:focus 
{
    border-color: var(--green);
}

#search button 
{
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

#search button svg 
{
    fill: var(--orange);
    width: 42px;
    height: 42px;
}

#search button:hover svg,
#search button:focus svg
{
    fill: var(--green);
}