
/*
наші переваги
*/

#skills
{
    margin: var(--gap6) 0;
}

#skills .wrapper 
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: var(--gap);
}

#skills article 
{
    text-align: center;
}

#skills h1 
{
    font-weight: 300;
}

#skills p 
{
    color: var(--green);
    font-size: 80px;
    font-weight: 800;
}