/* сервісна смуга */
#top
{
    /* background: var(--dark); */
    background: var(--orange);
    position: relative;
    z-index: 5;
}

#top .wrapper 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--gap)/2) 0;
    color: var(--light);
    font-size: 14px;
}

@media(max-width:640px)
{
    #top .wrapper 
    {
        justify-content: center;
    }    
}

#weather img 
{
    width: 32px;
    height: 32px;
}

@media(max-width:640px)
{
    #weather
    {
        display: none;
    }
}

.social 
{
    display: flex;
    gap: calc(var(--gap)/2);
}


.social li 
{
    display: inline-block;
}

.social li a 
{
    color: var(--light);
}

.social li a svg 
{
    width: 22px;
    height: 22px;
    fill: var(--light);
    transition: .5s;
}

.social li a:hover svg,
.social li a:focus svg
{
    fill: var(--dark);
    transform: scale(1.05);
}