/* сервісна смуга */
#top
{
    /* background: var(--dark); */
    background: var(--orange);
    position: relative;
    z-index: 2;
}

#top .wrapper 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap) 0;
    color: var(--light);
    font-size: 14px;
}

#top time 
{
    /* text-transform: uppercase; */
}

#top ul 
{
    display: flex;
    gap: calc(var(--gap)/2);
}

#top li 
{
    display: inline-block;
}

#top li a 
{
    color: var(--light);
}

#top li a svg 
{
    width: 22px;
    height: 22px;
    fill: var(--light);
    transition: .5s;
}

#top li a:hover svg,
#top li a:focus svg
{
    fill: var(--dark);
    transform: scale(1.05);
}